@import 'jeet'

//edit()

//center (max_width = 720px, pad = 0)

body 
    background: url(brickwall.png) repeat 


#content
	center (max_width = 1440px, pad = 0)
	
#photo

	span(1/4)
	max-width: 100%
	height: 150px
	border-radius 25px

#intro

	span(3/4)
	height = 50%

#skills
	
	span(1/4)
	height = 50%
	
#exp
	
	span(3/4)
	height = 50%
	

#technoglies
	
	span(1/3)
	height = 50%


#course_taken

	span(1/3)
	height = 50%


#hobby

	span(1/3)
	height = 50%
	

#design
	height = 50%


	