@import 'jeet'
@import 'rupture'

scale = 0 320px 480px 720px 1080px

body 
    background: url(brickwall.png) repeat 

#content
	center()
	
#photo
	height:15em
	center()
	wdith:100%
	stack()
	+above(75em)
		span(1/4)
		max-width: 100%
		height: 150px
		border-radius 25px	
#intro
	height:15em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(3/4)
		

#skills
	height:15em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(1/4)
		
	
#exp
	height:20em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(3/4)
		
	
#technoglies
	height:15em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(1/3)
	

#course_taken
	height:15em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(1/3)


#hobby
	height:15em
	center()
	text-align:center
	width:100%
	stack()
	+above(75em)
		span(1/3)
	

#design
	height:15em
	center()
	text-align:center
	width:100%
	stack 	