@import 'jeet'
@import 'rupture'

body 
    font-size 1.1rem
    line-height 2.56rem
    max-width 90em
    div p
    	margin 1em 1em 0em 1em
	
#info
	background #E6EBE0
	
#photo
	text-align center
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		text-align center
		h2
			margin-top 1em	
			text-align center
			text-decoration underline
			font-size 1.5em
			font-weight bold
	
img
	border-radius 50%
	text-align center
	+above(65em)
		margin-top 1em
		border-radius 50%
		
#links
	text-align center
	stack()
	+above(65em)
		margin-top 1.5em
		col(2/5)
		shift(1/10)
		text-align center
	
#wrap
	h2	
		text-align center
		text-decoration underline
		font-weight bold
		font-size 1.3em
	+above(65em)
		background url('../img/background.svg') no-repeat 
		background-size cover 
		font-size 1.1rem
	    line-height 2.56rem
	    div p
	    	margin 1em 1em 0em 1em
		
#summary
	center()
	text-align center
	stack()
	
#intro
	text-align center
	background #ED6A5A
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		background rgba(92, 164, 169, 0.8)
		border 2px dashed  #ffffff
		
#exp
	text-align center
	background #F4F1BB
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		background rgba(244, 241, 187, 0.8)
		
#showcase
	center()
	text-align center
	stack()
				
#skills
	background #9BC1BC
	text-align center
	stack()
	+above(65em)
		margin-top 2em
		col(2/5)
		shift(1/10)
		background rgba(244, 241, 187, 0.8)
			
#portfolio
	text-align center
	background #5CA4A9
	stack()
	+above(65em)
		margin-top 2em
		col(2/5)
		shift(1/10)
		background rgba(92, 164, 169, 0.8)
		border 2px dashed  #ffffff

#design
	background #ED6A5A
	height 17em
	center()
	text-align center
	stack()
	h2	
		text-align center
		text-decoration underline
		font-weight bold
		font-size 1.3em
	a
		text-decoration underline
	+above(65em)
		background #ED6A5A
		height 12em
		
	