@import 'jeet'
@import 'rupture'

body 
    font-size 1.1rem
    line-height 2.56rem
    max-width 90em
    div p
    	margin 1em 1em 0em 1em

header h3{
	font-weight: bold
	font-size 1.5rem
	color #694F5D
}
#info
	background #E6EBE0
	//shift(1/10)
	//text-align center
	//stack()
	+above(65em)
		//background #9BC1BC
		//col(1/3,1/8)
		/*max-width  100%
		height  150px
		border-radius 25px*/
#photo
	text-align center
	stack()
	+above(65em)
		col(2/5)
		shift(2.4/10)
	
img
	border-radius 50%
	text-align center
	+above(65em)
		margin-top 1em
		border-radius 50%
		
#links
	text-align center
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		text-align center
	
#wrap
	background url('../img/background.svg') no-repeat 
	background-size cover 
	font-size 1.1rem
    line-height 2.56rem
    div p
    	margin 1em 1em 0em 1em

	
#summary
	center()
	text-align center
	stack()
	
#intro
	text-align center
	background #ED6A5A
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		background rgba(92, 164, 169, 0.5)
		border 2px dashed  #ffffff
		
#exp
	text-align center
	background #F4F1BB
	stack()
	+above(65em)
		col(2/5)
		shift(1/10)
		background rgba(244, 241, 187, 0.5)
		
#showcase
	center()
	text-align center
	stack()
				
#skills
	background #9BC1BC
	text-align center
	stack()
	+above(65em)
		margin-top 2em
		col(2/5)
		shift(1/10)
		background rgba(244, 241, 187, 0.7)
			
#portfolio
	text-align center
	background #5CA4A9
	stack()
	+above(65em)
		margin-top 2em
		col(2/5)
		shift(1/10)
		background rgba(92, 164, 169, 0.5)
		border 2px dashed  #ffffff


#design
	background #E6EBE0
	height 16em
	center()
	text-align center
	stack()
	+above(65em)
		background #ED6A5A
		height 12em
	