@import 'jeet'

//edit()

//center (max_width = 720px, pad = 0)

#content
	center (max_width = 1440px, pad = 0)
	//border 1px black
	height = 50%
	/*
	-webkit-border-radius: 5px black
  -moz-border-radius: 5px black
  border-radius: 5px black*/

#avatar
	//col(1/4, gutter:0)
	span(1/4)
	height 50%
	//border 1px black

#intro
	//col(1/4, gutter:0)
	span(3/4)
	height = 50%
	//border 1px black
	//stack(pad=0, align center)

#course_taken
	//col(1/4, gutter:0)
	span(1/4)
	height = 50%
	//border 1px black

#exp
	//col(1/4, gutter:0)
	span(3/4)
	height = 75%
	//border 1px black
	//stack(pad=0, align center)

#skills
	//col(1/4, gutter:0)
	span(1/4)
	height = 50%
	//border 1px black
	//stack(pad=0, align center)

#design
	//col(1/4, gutter:0)
	span(1/4)
	height = 50%
	//border 1px black
	//stack(pad=0, align center)

#technoglies
	//col(1/4, gutter:0)
	span(1/4)
	height = 50%
	//border 1px black


#hobby
	//col(1/4, gutter:0)
	span(1/4)
	height = 50%
	//border 1px black